<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Raleway", Arial, Helvetica, sans-serif
    }
</style>
{% load static %}
<body class="w3-light-grey">

    <!-- Navigation Bar -->
    <div class="w3-bar w3-white w3-large">
        <a href="#" class="w3-bar-item w3-button w3-red w3-mobile"><i class="fa fa-home w3-margin-right"></i>오늘뭐먹지</a>

        <a href="/logout" class="w3-bar-item w3-button w3-right w3-grey w3-mobile">LOGOUT</a>
    </div>

    <header class="w3-display-container w3-content" style="max-width:1500px;">
        <img class="w3-image" src="{% static 'images/main2.jpg' %}" alt="The Hotel" width="1500px" height="1500px">
<div class="w3-display-left w3-padding w3-hide-small" style="width:50%">

    <div id="map" style="display: none;"></div>
    <div id="out"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d113de6f3e0c3ed1de827e1a8ff07e2f&libraries=services"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script>
        var type = 0;
        var price = 0;
        var exp = 0;
        var distance = 1;

        $(document).ready(function () {
            /* OnChange Methods */
            var typeId = document.getElementById('id_type');
            typeId.addEventListener('change', function () {
                type = typeId.selectedOptions[0].value
            });

            var priceId = document.getElementById('id_price');
            priceId.addEventListener('change', function () {
                price = priceId.selectedOptions[0].value
            });

            var expId = document.getElementById('id_exp');
            expId.addEventListener('change', function () {
                exp = expId.selectedOptions[0].value
            });

            var distanceId = document.getElementById('id_distance');
            distanceId.addEventListener('change', function () {
                distance = distanceId.selectedOptions[0].value;
                console.log(distance)
            })
        });


        /* OnClick Methods */
        function recommandOnClick() {
            var callBackCnt = 0;
            var total = [];

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var lat = position.coords.latitude; // 위도
                    var lon = position.coords.longitude; // 경도
                    var locPosition = new daum.maps.LatLng(37.55, 126.94);

                    var geocoder = new daum.maps.services.Geocoder();
                    var geocoderCB = function (result, status) {
                        if (status === daum.maps.services.Status.OK) {
                            total.push(result[0].address.region_3depth_name);
                        }
                    };
                    geocoder.coord2Address(locPosition.getLng(), locPosition.getLat(), geocoderCB);

                    var mapContainer = document.getElementById('map'), mapOption = { center: locPosition, };
                    var map = new daum.maps.Map(mapContainer, mapOption);
                    var ps = new daum.maps.services.Places(map);

                    var trueDistanceList = [0, 1500, 300, 600, 900, 1200, 1500];
                    console.log(trueDistanceList[distance]);
                    for (var i = 1; i < 10; i++) {
                        ps.categorySearch('FD6', placesSearchCB, { useMapCenter: true, radius: trueDistanceList[distance], size: 10, page: i, sort: daum.maps.services.SortBy.POPULARITY });
                    }
                });
            }
            else {
                console.log("Cannot Use Geolocation")
            }

            function placesSearchCB(data, status, pagination) {
                if (status === daum.maps.services.Status.OK) {
                    for (var i = 0; i < data.length; i++) {
                        total.push(data[i].place_name + ',' + data[i].distance);
                    }
                }

                callBackCnt++;
                if (callBackCnt == 9) {
                    console.log(total);
                    post_to_url('', total, 'POST')
                }
            }
        }

        // post to django server
        function post_to_url(path, params, method) {
            method = method || "post";

            var form = document.getElementById("sex");
            for (var key in params) {
                if (params.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);

                    form.appendChild(hiddenField);
                }
            }
            form.submit();
        }

    </script>
        <div class="w3-black  w3-hover-opacity-off w3-padding-large w3-round-large">
            <form action="" method="POST" id="sex">
                        {% csrf_token %}
            <h1 class="w3-xlarge">{{ result.name }}</h1>
                  <hr class="w3-opacity">
                  <div class="w3-row-padding" >
                        <div class=" w3-half ">
                            <label><i class="fa fa-id-badge"></i>종류</label>
                            <h5>{{ filter.type }}</h5>
                        </div>
                        <div class="w3-half">
                            <label><i class="fa fa-credit-card	"></i>가격</label>
                            <h5>{{ filter.price }}</h5>
                        </div>
                    </div>
                    <div class="w3-row-padding">
                        <div class="w3-half ">
                            <label><i class="fa fa-star	"></i>성향</label>
                            <h5>{{ filter.exp }}</h5>
                        </div>
                        <div class="w3-half">
                            <label><i class="fa fa-hourglass"></i> 거리</label>
                            <h5>{{ filter.distance }}</h5>
                        </div>
                    </div>

                  <div class="w3-row-padding" >
                      <button type="button" onclick="recommandOnClick()" class="w3-button  w3-green w3-round" placeholder="추천">추천</button>

                  </div>
              </form>
        </div>
    </header>
</body>
